<mat-card class="example-card">
    <div *ngIf="personne" class="container">

    <div class="ligne1">
        <h1 class="titre">Détail de la personne</h1>
        <h5>+ édition</h5>
    </div>  
    <form #personneData (ngSubmit)="updatePersonne(personneData)">
    <div>
        
        <mat-form-field class="example-full-width">
            <input matInput
            disabled="true" 
            placeholder="Id : {{ personne.id }}">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input matInput
            [(ngModel)]="personne.nom"
            [ngModelOptions]="{standalone: true}"
            placeholder="{{ personne.nom }}">
        </mat-form-field>
            <br>
        <mat-form-field class="example-full-width">
            <input matInput
            [(ngModel)]="personne.prenom"
            [ngModelOptions]="{standalone: true}"
            placeholder="{{ personne.prenom }}">
        </mat-form-field>
    </div>
    <br>
    <div>
        <button
        
        type="submit"
        mat-button
        routerLink="/listePersonnes">Retour</button>
        <button
        
        type="submit" mat-button
        routerLink="/editPersonne, personne.id">Editer</button>
        <!-- pour appeler un méthode, click, pas routerLink -->
        <button
        
        type="submit"
        mat-button
        (click)="deletePersonne()">Supprimer</button> 
    </div>
</form> 
</div>
</mat-card>