<div *ngIf="personne" class="container">

  <div class="ligne1">
      <h1 class="titre">Détail de la personne</h1>
  </div>   
  <div class="ligne2">
      <div class="gauche"  fxLayout.xs="row">
          <input class="nom", placeholder="{{ personne.nom }}">
      </div>
      <div class="droite"  fxLayout.xs="row">
          <input class="prenom", placeholder="{{ personne.prenom }}">
      </div>
      
  </div>
  <div class="ligne3">
      <button  type="submit" mat-button routerLink="/listePersonnes">Retour</button>
      <!-- <button class="boutonRetour" (click)="updatePersonne()">edit</button>
      <mat-icon class="iconSide" (click)="deletePersonne()">delete</mat-icon>  -->
  </div>
</div> 