<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <img src="./../assets/image/gedesaft.png" alt="GDSFT" style="width:500px;height:250px;" />
<br>
  
  <button
    type="submit"
    mat-button 
    class="creer"
    [routerLink]="['/ajoutPersonne']">Créer une personne</button>
  
  <!-- <app-add-personne></app-add-personne>
  <app-liste-personnes></app-liste-personnes> -->
  <!-- <app-personne-detail></app-personne-detail> -->
</div>
<div class="outlet">
  <router-outlet></router-outlet>
</div>
 
 

